---
layout: default
title: Serious games for learning maths concepts
description: This research line encloses a set of Final Degree Projects of Computer Science focused on teaching maths (fractions, geometry) to students of Primary and Secundary School. We aim to provide teachers with an aiding tool, specifically in the field of geometry teaching during the last years of primary school.

---
<p> This research line encloses a set of Final Degree Projects of Computer Science focused on teaching maths (fractions, geometry) to students of Primary and Secundary School. We aim to provide teachers with an aiding tool, specifically in the field of geometry teaching during the last years of primary school.
</p>

<p>Thus, the main goal is to design and create a game using Unity with a series of geometry learning activities allowing students in primary and first years of secondary school to progress in an entertaining and engaging way, having them overcome several challenges.
</p>

<p>Each student will have their own user and the game will be flexible enough to enable the teacher to analyse their evolution and to identify their difficulties. The teacher will also be able to customize the game, choosing which skills to train, and adding new activities and new 2D and 3D shapes among other geometric concepts.
</p>

<div class="card-columns">
  {% comment %} Sort the projects by date, putting those without dates last {%
  endcomment %} {% assign projects_by_date = site.projectsMath | sort:
  'last-updated', 'first' %} {% assign projects_by_date = projects_by_date |
  reverse %} {% for p in projects_by_date %} {% include project-card.html
  project=p %} {% endfor %}
</div>
