<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://www.mdpi.com/2076-3417/13/3/1535">Evaluating Learner Engagement with Gamification in Online Courses</a>.
			</span><br />
			<span class="authors">
				Anna Puig Puig, Inmaculada Rodríguez Santiago, A Rodríguez, and I Gallego.
			</span><br />
			<span class="venuetype"></span><span class="venue">Applied Sciences, 2023, vol. 13, num. 3, p. 1535</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1002/cae.22484">Children building and having fun while they learn geometry</a>.
			</span><br />
			<span class="authors">
				Anna Puig, Inmaculada Rodríguez, Johan Baldeón, and Sergi Múria.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computer Applications in Engineering Education 30(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Lessons learned from supplementing archaeological museum exhibitions with virtual reality.
			</span><br />
			<span class="authors">
				Anna Puig, Inmaculada Rodríguez, Josep Ll Arcos, Juan A Rodríguez-Aguilar, Sergi Cebrián, Anton Bogdanovych, Núria Morera, Antoni Palomo, and Raquel Piqué.
			</span><br />
			<span class="venuetype"></span><span class="venue">Virtual Reality</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2020</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Evaluating the effect of gamification on the deployment of digital cultural probes for children.
			</span><br />
			<span class="authors">
				Inmaculada Rodríguez, Anna Puig, Dolça Tellols, and Karen Samsò.
			</span><br />
			<span class="venuetype"></span><span class="venue">International journal of Human-Computer studies</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2019</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				On the relationship between subjective and objective measures of virtual reality experiences: a case study of a serious game.
			</span><br />
			<span class="authors">
				Inmaculada Rodríguez, Anna Puig, Juan A Rodriguez-Aguilar, Josep L Arcos, Sergi Cebrián, Anton Bogdanovych, Núria Morera, Raquel Piqué, and Antoni Palomo.
			</span><br />
			<span class="venuetype"></span><span class="venue">Proceedings of the 3rd International Symposium on Gamification and Games for Learning (GamiLearn'19), Barcelona, Spain, October 22, 2019</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://10.23919/CISTI.2018.8399394">A platform for the authoring of educational games</a>.
			</span><br />
			<span class="authors">
				J Baldeon, A Puig, I Rodriguez, and L Zardain.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 13th Iberian Conference on Information Systems and Technologies (CISTI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-319-58637-3_28">A Conceptual Model for Educational Game Authoring: A Showcase in Math Games</a>.
			</span><br />
			<span class="authors">
				Johan Baldeón, Anna Puig, Inmaculada Rodríguez, Cristian Muriel, and Leandro Zardain.
			</span><br />
			<span class="venuetype"></span><span class="venue">Design, User Experience, and Usability: Designing Pleasurable Experiences: 6th International Conference, DUXU 2017, Held as Part of HCI International 2017, Vancouver, BC, Canada, July 9-14, 2017, Proceedings, Part II 6</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2016</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				From learning to game mechanics: The design and the analysis of a serious game for computer literacy.
			</span><br />
			<span class="authors">
				J Baldeónn, I Rodríguez, A Puig, D Gómez, and S Grau.
			</span><br />
			<span class="venuetype"></span><span class="venue">2016 11th Iberian Conference on Information Systems and Technologies (CISTI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Designing a math game for children using a participatory design experience.
			</span><br />
			<span class="authors">
				I Rodriguez, A Puig, S Grau, and M Escayola.
			</span><br />
			<span class="venuetype"></span><span class="venue">The Eighth International Conference on Advances in Human-Oriented and Personalized Mechanisms, Technologies, and Services</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2015</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Games4Learning: How to integrate serious games to personalized learning itineraries?.
			</span><br />
			<span class="authors">
				Sergi Grau, Ramon Reig, Anna Puig, Maite López, and Inmaculada Rodríguez.
			</span><br />
			<span class="venuetype"></span><span class="venue">2015 10th Iberian Conference on Information Systems and Technologies (CISTI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Massively multiplayer online games developed with agents.
			</span><br />
			<span class="authors">
				Gustavo Aranda, Tomas Trescak, Marc Esteva, Inmaculada Rodriguez, and Carlos Carrascosa.
			</span><br />
			<span class="venuetype"></span><span class="venue">Transactions on edutainment vii</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2012</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Meet the meter: visualising smartgrids using self-organising electronic institutions and serious games.
			</span><br />
			<span class="authors">
				Aikaterini Bourazeri, Jeremy Pitt, Pablo Almajano, Inmaculada Rodriguez, and Maite Lopez-Sanchez.
			</span><br />
			<span class="venuetype"></span><span class="venue">2012 IEEE Sixth International Conference on Self-Adaptive and Self-Organizing Systems Workshops</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2011</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Cross-platform management of intelligent objects behaviors in serious virtual environments.
			</span><br />
			<span class="authors">
				Inmaculada Rodríguez, Anna Puig, and Marc Esteva.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computer Animation and Virtual Worlds 22(4)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
