<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2023</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Evaluating Learner Engagement with Gamification in Online Courses.
			</span><br />
			<span class="authors">
				Anna Puig Puig, Inmaculada Rodríguez Santiago, A Rodríguez, and I Gallego.
			</span><br />
			<span class="venuetype"></span><span class="venue">Applied Sciences, 2023, vol. 13, num. 3, p. 1535</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2022</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Children building and having fun while they learn geometry.
			</span><br />
			<span class="authors">
				Anna Puig, Inmaculada Rodríguez, Johan Baldeón, and Sergi Múria.
			</span><br />
			<span class="venuetype"></span><span class="venue">Computer Applications in Engineering Education 30(3)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				A platform for the authoring of educational games.
			</span><br />
			<span class="authors">
				J Baldeon, A Puig, I Rodriguez, and L Zardain.
			</span><br />
			<span class="venuetype"></span><span class="venue">2018 13th Iberian Conference on Information Systems and Technologies (CISTI)</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2017</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://doi.org/10.1007/978-3-319-58637-3_28">A Conceptual Model for Educational Game Authoring: A Showcase in Math Games</a>.
			</span><br />
			<span class="authors">
				Johan Baldeón, Anna Puig, Inmaculada Rodríguez, Cristian Muriel, and Leandro Zardain.
			</span><br />
			<span class="venuetype"></span><span class="venue">Design, User Experience, and Usability: Designing Pleasurable Experiences: 6th International Conference, DUXU 2017, Held as Part of HCI International 2017, Vancouver, BC, Canada, July 9-14, 2017, Proceedings, Part II 6</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
